@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome to your driving logbook</strong></h1>
    <img style="border-radius:5%" src="http://forum.e46fanatics.com/attachment.php?attachmentid=372042&d=1282117737"/>


</div>